version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: minhduc5a12
      POSTGRES_PASSWORD: 255yrmaQicHHZblw
      POSTGRES_DB: chess_project_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__DefaultConnection: "Host=db;Database=chess_project_db;Username=minhduc5a12;Password=255yrmaQicHHZblw"
    depends_on:
      - db

  frontend:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:
